<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" tyep="text/css" href="/stylesheets/style.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel="icon" href="https://s.ytimg.com/yts/img/favicon_144-vfliLAfaB.png" sizes="144x144" >
    <title>OldTube</title>
  </head>
  <body>

    <nav class="navigation">
      <div class="container-fluid">
        <div class="row">
          <div class="col">
            <span class="navbar-brand">OldTube</span>
          </div>
          <div class="col-9">
            <form action="#" method="GET">
              <!-- build my own search box same as youtubes! -->
              <input type="text" name="search" placeholder="Search" id="inputSearch">
            </form>
          </div>
        </div>
      </div>
    </nav>
    
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-9">
            <div class="player">
              <iframe width="560" height="315" 
              src="https://www.youtube.com/embed/videoseries?list=PL0xuxMVYYKe3CCBKxTP_c9a8ko_3TkwI9" 
              frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" 
              allowfullscreen></iframe>
            </div>
          </div>
          <div class="col buttonDiv">
            <h2>Select A Playlist</h2>
            <div class="row">
              <button type="button" class="btn btn-primary btn-lg btn-block playlistBtn">Wartime</button>
            </div>
            <div class="row">
              <button type="button" class="btn btn-primary btn-lg btn-block playlistBtn">50's Swing</button>
            </div>
            <div class="row">
              <button type="button" class="btn btn-primary btn-lg btn-block playlistBtn">Queen Panpipes</button>
            </div>
            <div class="row">
              <button type="button" class="btn btn-primary btn-lg btn-block playlistBtn">Classical</button>
            </div>
            <div class="row">
              <button type="button" class="btn btn-primary btn-lg btn-block playlistBtn">Elvis</button>
            </div>
            <div class="row">
              <button type="button" class="btn btn-primary btn-lg btn-block playlistBtn">Megadeath</button>
            </div>
            <div class="row">
              <button type="button" class="btn btn-primary btn-lg btn-block playlistBtn">Chillout</button>
            </div>
            <div class="row">
              <button type="button" class="btn btn-primary btn-lg btn-block playlistBtn">Primary</button>
            </div>
          </div>
        </div>
      </div>
    </section>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
  </body>
</html>
