body{
  background: url("https://image.freepik.com/free-photo/vintage-music_1048-3366.jpg");
  background-size: cover;
  background-position: center;
  color: white;
}

.navigation{
  padding: 0.5rem 0;
  box-shadow: 0 0px 4px 0 rgba(0, 0, 0, 0.2), 0 0px 12px 0 rgba(0, 0, 0, 0.19);
  font-family: 'IM Fell English', serif;
  color: white;
}

.navigation, h1{
  font-weight: bold;
}

/*VIDEO SECTION VIDEO SECTION VIDEO SECTION*/
#player{
  margin-top: 3em;
}

/*PLAYLIST SECTION PLAYLIST SECTION PLAYLIST SECTION*/
.buttonDiv{
  /*border-left: 2px solid #ccc;*/
  font-family: 'IM Fell English', serif;
  color: white;
}

.linkDiv{
  margin-bottom: 0.7rem;
}

.linkDiv, a{
    font-size: 1.3em;
}

.pylstLink, a{
  color: #fff;
}