body{
  background: url("https://png.pngtree.com/thumb_back/fw800/back_pic/03/51/28/445790e5c0232b6.jpg") no-repeat;
  background-size: cover;
  background-position: center;
  color: #222;
}

a:hover {
  text-decoration: none;
}

/*NAVBAR NAVBAR NAVBAR NAVBAR NAVBAR NAVBAR */
.navigation{
  padding: 20px 0 0 20px;
  font-family: 'IM Fell English', serif;
  border-bottom: 5px solid black;
}

.navigation, h1{
  font-weight: bold;
}

#radio{
  height: 3em;
  width: 3em;
  margin-right: 5px;
  padding-bottom:5px;
  
}

/*VIDEO SECTION VIDEO SECTION VIDEO SECTION*/
#player{
  margin-top: 3em;
}

iframe{
  border: 15px solid black;
  border-style: double;
}

/*PLAYLIST SECTION PLAYLIST SECTION PLAYLIST SECTION*/
.buttonDiv{
  border-left: 5px solid #111;
  font-family: 'IM Fell English', serif;
}

.linkDiv{
  margin-bottom: 0.7rem;
}

.linkDiv, a{
    font-size: 1.3em;
}

.pylstLink, a{
  color: #222;
}